* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: #00c7ce;
  display: flex;
  justify-content: flex-end;
}

.header-box {
  flex-basis: 140px;
  height: 70px;
  background-color: #fff;
  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-sidebar {
  width: 300px;
  background-color: #99b82c;
}

.main-box {
  background-color: #95ffa9;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-box-content {
  background-color: #a7fff9;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  background-color: #6c6b6b;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
 flex-basis: 45%;
 max-width: 600px;
 height: 40px;
 margin: 10px;
 background-color: #fff;
}